body {
  /* remove margins and scroll bars */
  margin: 0;
  overflow: hidden;

  /* style text */
  text-align: center;
  font-size: 12px;
  font-family: Sans-Serif;

  /* color text */
  color: rgb(171, 243, 199);
}

h1 {
  /* position the heading */
  position: absolute;
  width: 100%;

  /* make sure that the heading is drawn on top */
  z-index: 1;
}

h2 {
  /* position the heading */
  position: absolute;
  width: 100%;

  /* make sure that the heading is drawn on top */
  z-index: 1;
}

#scene-container {
  /* tell our scene container to take up the full page */
  /* position: absolute; */
  width: 100%;
  height: 100%;

  /*
    Set the container's background color to the same as the scene's
    background to prevent flashing on load
  */
  background-color: #14213d;
}

#earth-rotation-buttons {
  position: absolute;
  color: white;
  left: 1%;
  bottom: 80%;
  width: 100%;

  text-align: left;
  z-index: 100;
  display: block;
}

#cloud-rotation-buttons {
  position: absolute;
  color: white;
  left: 1%;
  bottom: 69%;
  width: 100%;

  text-align: left;
  z-index: 100;
  display: block;
}

#moon-rotation-buttons {
  position: absolute;
  color: white;
  left: 1%;
  bottom: 58%;
  width: 100%;

  text-align: left;
  z-index: 100;
  display: block;
}

#moon-orbit-buttons {
  position: absolute;
  color: white;
  left: 1%;
  bottom: 47%;
  width: 100%;

  text-align: left;
  z-index: 100;
  display: block;
}

#space-canvas {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
}
